@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Spartan&display=swap");

.App {
  font-family: "Spartan";
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-image: linear-gradient(rgba(200, 200, 200, 0.703), ghostwhite);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputPadding {
  padding: 0.2em;
  font-size: 2em;
  border-radius: 1em;
}

*:focus {
  outline: 0;
  box-shadow: 0px 0px 4px 5px greenyellow;
}
